.common-container {
  @include clearFix;
  width: 1020px;
  margin: 40px auto 0;
  padding: 0 0 40px;
}

.common-nav {
  list-style: none;

  &__head {
    margin: 40px;
    font-size: 16px;
  }

  &__list li {
    border-top: 1px solid #eee;
  }

  &__item {
    position: relative;
    display: block;
    min-height: 48px;
    padding: 16px;
    color: #333;
    background: #fff;

    &:hover {
      text-decoration: none;
      background: #fafafa;
      opacity: 1;

      .fa-chevron-right {
        color: #333;
        -webkit-transform: translate(4px, -50%);
        transform: translate(4px, -50%);
      }
    }
  }

  .fa-chevron-right {
    position: absolute;
    top: 50%;
    right: 16px;
    color: #ccc;
    -webkit-transform: translate(4px, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
  }
}

.common-side {
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
}

.common-ad {
  &--with-margin-top {
    margin: 40px 0 0;
  }

  img {
    width: 100%;
  }
}
