.items-box-container {
  min-width: auto;
  width: 940px;
  margin: 0 auto;

  &__name {
    @include textCenter;
    margin: 26px 11px;
    font-size: 22px;

    a {
      color: #0099e8;
      text-decoration: none;
      font-weight: bold;
    }
  }

  &__content {
    @include clearFix;
    width: 100%;
  }
}

.items-box {
  float: left;
  width: 220px;
  margin: 0 0 20px 20px;
  background: #fff;

  &:nth-child(odd) {
    margin: 0;
  }

  &:nth-child(2n + 1) {
    margin: 0 0 20px 20px;
  }

  &:nth-child(3n + 1) {
    margin: 0 0 20px;
  }

  &:nth-child(5n + 1) {
    margin-left: 0;
  }

  &:nth-child(n + 4):last-child {
    display: block;
    margin: 0 0 0 20px;
  }

  &__photo {
    overflow: hidden;
    position: relative;
    justify-content: center;
    display: flex;
    width: 220px;
    height: 220px;
    padding: 0 0 100%;

    img {
      position: absolute;
      max-width: 100%;
      height: auto;
      z-index: 1;
      width: auto;
    }
  }

  &__body {
    padding: 16px;
    min-height: 110px;
  }

  &__name {
    font-size: 16px;
    overflow: hidden;
    position: relative;
    font-weight: 400;
    height: 3em;
    line-height: 1.5;
    word-break: break-word;
    white-space: normal;
  }

  &__num {
    margin: 8px 0 0;
    @include clearFix;
  }

  &__price {
    float: left;
    font-size: 20px;
    font-weight: 600;
    color: #333;
  }

  &__tax {
    font-size: 10px;
    clear: both;
  }

  a {
    display: block;
    color: #333;
  }
}
