.pc-header {
  position: relative;
  z-index: 1001;
  background: #fff;

  &__inner {
    width: 1020px;
    margin: 0 auto;
    padding: 8px 0 0;
  }
}

.inner-top {
  @include clearFix;
}

.inner-top__logo {
  float: left;

  a {
    display: block;
    color: #333;
    height: 36px;
  }
}

.inner-top__form {
  float: right;
  position: relative;
  width: calc(100% - (134px + 16px));

  input {
    width: 100%;
    height: 36px;
    padding: 9px 32px 9px 8px;
    background: #fafafa;
    transition: all ease-out .3s;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 1.5;
    font-size: 16px;

    &:focus {
      border: 1px solid #0099e8;
    }
  }

  .fa-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
  }
}

.inner-nav {
  margin: 8px 0 0;
  @include clearFix;
}

.nav-lists {
  h2 {
    font-size: 14px;
    font-weight: 400;
  }
  a {
    display: block;
    color: #333;
    height: 38px;
    line-height: 32px;
  }
  li {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;

    &:first-child {
      padding: 0;
    }
  }
}

.nav-parent-lists {
  display: none;
  &__list {
    display: none;
  }
}

.login-nav-lists {

  figure {
    line-height: 0;
  }

  li {
    display: inline-block;
    padding-left: 16px;

    &:first-child {
      margin: 0;
    }
  }

  &__btn {
    display: block;
    padding: 0 16px;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;

    &-sign-in {
      background: #ea352d;
      color: #fff;
    }

    &-sign-up {
      border: 1px solid #0099e8;
      background: #fff;
      color: #0099e8;
    }
  }

  &__icon {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    vertical-align: middle;

    div {
      overflow: hidden;
      border-radius: 50%;
    }
  }

  &__mypage {
    display: inline-block;
    margin: 0 0 0 8px;
    font-size: 14px;
    vertical-align: middle;
  }

  &__signed-in-elements {
    color: #333;
  }
}
