.main {
  background: #fff;
}

.main-visual {
  height: 390px;
  background-image: image-url("main_bg_pc.jpg");
  background-size: cover;
}

.main-visual-contents {
  position: relative;
  max-width: 860px;
  height: 100%;
  margin: 0 auto;

  &__content {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}

.super-title {
  line-height: 1.2;
  font-weight: bold;
  color: #fff;
  font-size: 60px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.sub-title {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 18px;
  margin: 16px 0 0;
  line-height: 1.77778;
  color: #fff;
}

.store-btns {
  @include clearFix;
  margin: 24px 0 0;
  line-height: 0;

  a {
    display: inline-block;
    width: 170px;
    height: 50px;

    img {
      width: 100%;
    }
  }
}
