.main {
  background: #fff;
}

.main-visual {
  height: 390px;
  background-image: image-url("main_bg_pc.jpg");
  background-size: cover;
}

.main-visual-contents {
  position: relative;
  max-width: 860px;
  height: 100%;
  margin: 0 auto;

  &__content {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}

.super-title {
  line-height: 1.2;
  color: #fff;
  font-size: 60px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.sub-title {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 18px;
  margin: 16px 0 0;
  line-height: 1.77778;
  color: #fff;
}

.store-btns {
  @include clearFix;
  margin: 24px 0 0;
  line-height: 0;

  a {
    display: inline-block;
    width: 170px;
    height: 50px;

    img {
      width: 100%;
    }
  }
}

.main-introduction {
  padding: 40px 20px;

  &__title {
    @include textCenter;
    font-size: 26px;
    line-height: 1.4;
  }

  &__lists {
    @include textCenter;
    margin: 0 auto;
    font-size: 0;
    min-width: 960px;
    max-width: 1072px;

    li {
      display: inline-block;
      width: 30%;
      margin: 16px 3.3% 0 0;
      vertical-align: top;
    }

    h3 {
      font-weight: bold;
    }
  }

  img {
    width: 100%;
    margin: 16px 0 0;
  }

  p {
    margin: 16px 0 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
  }
}

.introduction-num {
  @include textCenter;
  display: inline-block;
  margin: 0 8px 0 0;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}

.main-dl-area {
  position: relative;
  padding: 0;
  height: 400px;
  background: image-url("download_area_bg_pc.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  margin-right: auto;
  margin-left: auto;

  &__inner {
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  h2 {
    @include textCenter;
    margin: 0;
    font-size: 27px;
    letter-spacing: .03em;
  }

  p {
    @include textCenter;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 1.5;
  }

  .store-btns {
    @include clearFix;
    padding-top: 7px;
    width: 348px;
    margin: 0 auto;
  }

  a {
    width: 170px;
    height: 50px;
  }

  img {
    width: 128px;
    height: 38px;
  }
}

.main-key-features {
  max-width: 1080px;
  margin: 60px auto;
  padding: 0 16px;

  h2 {
    @include textCenter;
    margin: 0 0 40px;
    font-size: 27px;
  }

  img {
    width: 64px;
    height: 64px;
    vertical-align: middle;
  }

  &__item {
    width: 25%;
    height: 300px;
    float: left;
    padding: 0 2%;

    &:first-child {
      padding: 0 2% 0 0;
    }

    &:last-child {
      padding: 0 0 0 2%;
    }

    figure {
      @include textCenter;
      width: 120px;
      height: 120px;
      margin: 0 auto;
      border-radius: 50%;
      color: #ea352d;
      line-height: 120px;
      background: #f5f5f5;
    }
  }

  &__sub-title {
    @include textCenter;
    font-size: 19px;
    font-weight: 200px;
    line-height: 1.5;
  }

  &__description {
    @include textCenter;
    margin: 0 0 40px;
    font-size: 17px;
    font-weight: 200;
    line-height: 1.5;
  }
}

.main-pick-up-container {
  padding: 40px 0;
  background: #f5f5f5;

  &__head {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
  }
}

.items-box-container {
  width: 940px;
  margin: 0 auto;

  &__name {
    @include textCenter;
    margin: 26px 11px;
    font-size: 22px;

    a {
      color: #0099e8;
      text-decoration: none;
      font-weight: bold;
    }
  }

  &__content {
    @include clearFix;
    width: auto;
  }
}

.items-box {
  position: relative;
  float: left;
  width: 220px;
  margin: 0 0 20px 20px;
  background: #fff;

  &:first-child {
    margin: 0 0 20px;
  }

  &:last-child {
    display: block;
    margin: 0 0 0 20px;
  }

  &__photo {
    overflow: hidden;
    position: relative;
    width: 220px;
    height: 220px;
    padding: 0 0 100%;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
    }
  }

  &__body {
    padding: 16px;
    height: 110px;
  }

  &__name {
    font-size: 16px;
    overflow: hidden;
    position: relative;
    font-weight: 400;
    height: 3em;
    line-height: 1.5;
    word-break: break-word;
    white-space: normal;
  }

  &__num {
    margin: 8px 0 0;
    @include clearFix;
  }

  &__price {
    float: left;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    float: right;
  }

  &__tax {
    font-size: 10px;
    clear: both;
  }

  a {
    display: block;
    color: #333;
  }
}

.app-banner {
  background: image-url("download_bg_pc");
  background-position: center;

  &__inner {
    overflow: hidden;
    position: relative;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    color: #fff;

    .phones-image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 300px;
      height: 100%;

      img {
        width: 100%;
      }
    }
  }

  &__contents {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);

    h2 {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
    }

    p {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      margin: 10px 0 0;
      font-size: 35px;
    }
  }
}

.app-banner__icons {
  @include clearFix;
  margin: 20px 0 0;

  figure {
    float: left;
  }

  ul {
    @include clearFix;
    float: left;
    margin: 0 0 0 24px;
    line-height: 68px;
  }

  li {
    float: left;

    &:last-child {
      margin: 0 0 0 16px;
    }
  }

  a {
    display: block;
    line-height: 68px;
  }

  img {
    vertical-align: middle;
  }
}
