input {
  outline: none;
}

a {
  text-decoration: none;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial: '遊ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

h2 {
  line-height: 1.4;
  font-weight: bold;
}

h3 {
  font-size: 28px;
}
